[user]
    email = ao0000dev@gmail.com
    name = ao0000
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
    preloadindex = true
    pager = delta
[init]
    defaultBranch = main
[color]
    ui = auto
[help]
    autocorrect = 1

# delta
[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations
    side-by-side = true

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[ghq]
    root = ~/develop